@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: block;
    background-color: #18181b;
    color: #daeef3;
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 8vh;
    width: 100%;
    background-color: #09090b;
    border-bottom: 2px solid #89c6d7;
}

main, .main-registro-nuevoanuncio {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
}

nav {
    text-align: center;
    display: block;
    width: 18%;
    background-color: #09090b;
    border-right: 2px solid #89c6d7;
}

section {
    display: block;
    width: 82%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: #09090b;
    border-top: 2px solid #89c6d7;
}

footer > p {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #daeef3;
}

.error {
    position: relative;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid #daeef3;
    width: 24%;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
}

.error > p {
    color: red; 
    margin: 10px;
}

.title {
    display: flex;
    position: relative;
    height: 100%;
    padding-left: 4%;
}

.title > h1 {
    display: block;
    height: 100%;
    transform: translateY(20%);
}

.search {
    display: block;
    height: 100%;
    width: 35%;
    margin-left: auto; 
    margin-right: 0;
}

.search > form {
    height: 100%;
}

.search > form > input {
    height: 60%;
    width: 70%;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
    transform: translateY(30%);
}

.search > form > button, .but-registro, .but-anuncios > button {
    height: 60%;
    width: 15%;
    border-radius: 10px;
    transform: translateY(35%);
    color: #daeef3;
    background-color: #162a36;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
    font-size: 1.4rem;
    margin-left: 20px;
}

.search > form > button:hover {
    background-image: linear-gradient(to right, #b9dee8, #59a9c2);
    color: #162a36;
}

.but-registro, .but-anuncios > button {
    margin-left: 0;
    transform: translateY(-35%);
    background-image: linear-gradient(to right, #b9dee8, #59a9c2);
    color: #162a36;
}

.but-anuncios > button {
    transform: translateY(0%);
}

.login-div {
    display: block;
    width: 100%;
    height: 40%;
    padding-top: 5%;
}

.login > * {
    border-radius: 10px;
    width: 80%;
    height: 35px;
    margin: 10px;
}

.nav-items, .logoutL, .deleteL {
    display: table;
    height: 8%;
    width: 100%;
    background-color: #162a36;
    border-bottom: 1px solid #89c6d7;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
}

.login-text {
    display: table;
    height: 20%;
    width: 100%;
    padding-top: 10px;
}

.nav-items:hover, .logoutL:hover, .deleteL:hover {
    background-image: linear-gradient(to right, #b9dee8, #59a9c2);
    color: #162a36;
}

.nav-items > h4, .deleteL > p, .login > h4, .logoutL > p {
    display: table-cell;
    vertical-align: middle;
}

.LogInfo {
    margin: 5px;
    display: flex;
    height: 10%;
}

.imgL {
    display: block;
    float: left;
    width: 23%;
    height: 100%;
}

.imgL > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.emailL {
    display: block;
    float: right;
    width: 77%;
    height: 100%;
}

.emailL > p {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;
}

.anuncios-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline start;
    height: 85%;
}

.anuncios-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline start;
    width: 100%;
    padding-left: 4%;
}

.anuncio-check {
    display: block;
    background-color: #162a36;
    border: 1px solid #89c6d7;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
    border-radius: 25px;
    width: 60%;
    height: 80%;
    margin: auto;
}

.anuncio, .registro {
    text-align: center;
    width: 30%;
    margin: 15px;
    border-radius: 25px;
    background-color: #162a36;
    border: 1px solid #89c6d7;
    box-shadow: 6px 6px 6px 3px rgba(138, 198, 214, 0.1);
    transition: all 0.4s ease-in-out;
}

.anuncio:hover {
    transform: scale(0.93);
}

.n-p-A, .n-t-p-f-U {
    display: flex;
    width: 100%;
    border-radius: 25px;
    margin: 8px;
}

.fotoA {
    width: 25vh;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    margin-top: 15px;
    border-radius: 15px;
}

.fotoA-M {
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
}

.nombreA {
    width: 75%;

}

.precioA {
    width: 25%;
}

.loseuros {
    position: relative;
}

.loseuros > input {
    padding-left: 15px;
}

.loseuros:after {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '€';
}

.foto-U {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid white;
}

.registro {
    display: block;
    width: 25%;
    height: 70%;
    margin: auto;
    transform: translateY(-10%);
}

.registro > form {
    padding: 20px;
}

.registro > form > input {
    width: 80%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-registro-nuevoanuncio {
    flex-direction: column;
}

.fotoA-main {
    width: 400px;
    height: 300px;
    margin: auto;
}

.fotoA-notmain {
    display: flex;
    width: 25%;
    display: block;
    margin-left: auto; 
    margin-right: 0;
}